<form [formGroup]='registerForm' (ngSubmit) ="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="form-group">    
        <input type="text" class="form-control" 
        formControlName="username" placeholder="User Name">

        <input type="password" class="form-control mt-2" 
        formControlName="password" placeholder="Password">
        
        <input type="password" class="form-control mt-2" 
        formControlName="confirmPassword" placeholder="Confirm Password">

      
    </div>
    <div class="form-group text-center">
        <button class="btn btn-primary m-2" type="submit">Register</button>
        <button class="btn btn-default m-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>


<p>Form Value:{{registerForm.value | json}}</p>


<p>Form Statu:{{registerForm.status | json}}</p>